.cabecalho {
    align-items: center;
    height: 130px;
    justify-content: center;
    background-image: linear-gradient(to right, #060807 80%, #02503c);
}

.imgcabecalho {
    max-height: 100px;
    width: auto;
    height: auto;
    border-radius: 50px;
}

.imgcabecalho:hover {
    transition: 1.5s;
    transform: scale(1.2);
}

.flex{
    display: flex;
   }









/* corpo*/

.container{
    justify-content: center;
    align-items: center;
    background: url('../imgs/fundoPrincipal.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.formulario{
    margin: 30px;
    padding: 10px;
    width: 400px;
    height: 500px;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.664), #91919185 , rgba(45, 109, 3, 0.541));
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    border-radius: 30px;
}
.titulo-formulario{
    font-size: 30px;
    font-weight: bold;
    margin: 10px;    

}
#selecao{
    margin: 50px;
    width: auto;
    font-family: monospace ;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
}
#ces{
    background-color: brown;
    
}
#b64{
    background-color: rgba(255, 0, 0, 0.671);
   
}

#incremento{
    display: none;
    width: 60px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(165, 42, 42, 0.253);
}
.textoEntrada{
    margin-top: 50px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(116, 116, 116);
    font-weight: bold;
}

.textoEntradaC{
    display: none;
    margin-top: 50px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(116, 116, 116);
}
#textoradio{
    font-weight: bold;
}
#txtConvertido{
    margin: 10px 0;
    border-radius: 10px;
    background-color: rgb(116, 116, 116);
    font-weight: bold;
}
#txtConvertidoC{
    display: none;
    margin: 10px 0;
    border-radius: 10px;
    background-color: rgb(116, 116, 116);
    font-weight: bold;
}
#textos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}
#push{
    
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 40%;
    margin: 0 auto;
    margin-top: 15px;

}


























footer {
    background-image: linear-gradient(to right, #060807 80%, #084d86);
    height: 80px;
    color: white;
    font-style: italic;
    align-items: center;
    padding: 5px;
}

footer img {
    margin-right: 350px;
    max-height: 60px;
    width: auto;
    height: auto;
    border-radius: 100%;
}

.textorodape {
    margin-left: 300px;
}

.textorodape:hover {
    transform: scale(1.2);
    transition: 1.2s;
}